.contenedor-sobremi{
    position: relative;
    width: 100vw;
    z-index: 0;
    top: 0;
    left: 0;
    HEIGHT: 100vh;
}

.contenedor-sobremi div{
    cursor: grab;
    
}

.contenedor-sobremi div h1{
    width: max-content;
    padding: .5rem;
    border: 3px solid var(--color-6);
    background-color: var(--color-btn);
    position: relative;
    top: 10px;
    left: 10px;
    filter: drop-shadow(-1px -2px var(--color-5));
}
.contenedor-sobremi div h3{
    font-size: 2rem;
    padding: 1rem;
    border: .3rem solid var(--color-5);
    background-color: var(--color-1);
}
.contenedor-sobremi div h3::after{
    position: absolute;
    z-index: -2;
    content: '';
    width: 42%;
    height: 32%;
    top: 70%;
    left: 60%;
    right: 0;
    background: var(--color-btn);
    border-radius: 0;
    border: .5rem solid var(--color-5);
    border-left: none;
    border-top: none;
    border-radius: 0  0 1rem ;
    box-shadow: -1px -1px ;
}
.contenedor-sobremi div h3::before{
    position: absolute;
    z-index: -2;
    content: '';
    width: 15%;
    height: 35%;
    top: 2rem;
    left: -1rem;
    background: var(--color-btn);
    border-radius: 0;
    border: .5rem solid var(--color-6);
    border-right: none;
    border-radius: 0  0 1rem ;
    box-shadow: -1px -1px ;
    filter: drop-shadow(2px 2px var(--color-5))
}

.contenedor-experiencia{
    position: absolute;
    width: 40rem;
    height: auto;
    left: 65%;
    top: 50%;
    
}
.contenedor-estudio{
    position: absolute;
    width: 50rem;
    height: max-content;
    right: 55%;
    top: 15%;
    font-size: smaller;
}

